<!-- Having both generic.html and base_generic.html can serve different purposes in your project. Here is a typical use case for each:

base_generic.html:

This file usually serves as a base template that defines the overall structure of your web pages. It includes common elements like the header, 
footer, navigation bar, and any other elements that are consistent across multiple pages.
Other templates can extend base_generic.html to inherit this common structure and add their own specific content.
generic.html:

This file can be a specific template that extends base_generic.html and provides content for a particular type of page.
It might be used for rendering a specific view or a set of views that share a common layout but have different content. 
This approach promotes reusability and maintainability by allowing you to define common elements in one place (base_generic.html) 
and specific content in individual templates (generic.html and others).-->


<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Add your CSS and other head elements here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand"
                    style="color: #b81818; font-family: Lato, sans-serif; font-weight: 700; font-size: 1.4rem;">D<span
                        class="red-o">O</span>JO<span style=font-weight:300;>|STAR</span></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'about' %}">My Dojo</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'create_about_page' %}">Create About
                            Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                            href="{% url 'view_about_page' username=user.username %}">Update My About Page</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">Admin Panel</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>

</html>