<!-- The about page for the club, renders in Navbar as My Dojo -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Define the content block that will be inserted into the base template -->
{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- First column: profile image -->
        <div class="col-12 col-md-4 text-center mb-4 mb-md-0">
            <!-- Check if the profile image URL contains "placeholder" -->
            {% if "placeholder" in about.profile_image.url %}
            <!-- Display a placeholder image if the profile image is a placeholder -->
            <img src="{% static 'images/nobody.webp' %}" alt="placeholder image" class="img-fluid">
            {% else %}
            <!-- Display the actual profile image -->
            <img src="{{ about.profile_image.url }}" alt="{{ about.title }}" class="img-fluid">
            {% endif %}
        </div>
        <!-- Second column: title and content -->
        <div class="col-12 col-md-8">
            <!-- Display the title of the about page -->       
            <!-- Display the content of the about page, marked as safe to allow HTML rendering -->
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row mt-4">
        <!-- Second row: updated on field -->
        <div class="col text-right">
            <!-- Display the updated on date aligned to the right -->
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <!-- Collaboration Form -->
    <div class="row mt-5 justify-content-center align-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h2 class="text-center">Interested in joining us?</h2>
            <form method="post">
                {% csrf_token %}
                {{ collaborate_form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}